body {
	margin: 0px;
	padding: 0px;
}

.header {
    border-bottom: 2px solid #dc0101;
}

.page {
	
}

.footer {
	
}

.column {
  /*	border: 1px solid black; */
	width: 1000px;
	margin: 0px auto;
}

.page .column {
	height: 100vh;
}

#logo-i-social {
	display: flex;
}

#logo-holder {
	flex-grow: 1;
}

#social-holder a {
	text-decoration: none;
	margin: 5px;
}

#social-holder {
	flex-grow: 1;
	text-align: right;
	
}

#social-holder a img {
	width: 25px;
	height: 25px;
	
}

#main-menu {
	display: flex;
}

#main-menu a{
	flex-grow: 1;
	text-align: center;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: red;
	
}

#main-menu a:hover,
#main-menu a.active {
	background: red;
	color: white;
}

#pocetna {
	text-align: center;
	color: white;
background:url('jeste/img/pozadine/slika.jpg');
}


#pocetna h1 {
	font-size: 48pt;
}

.dark-box {
	border: 1px solid white;
	background-color: #9944;
	font-size: 20pt;
	
}

